---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Blog Grid - Shay Construction">
	<div class="breadcumb-area d-flex align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcumb-content">
						<h1>Blog Grid</h1>
						<ul>
							<li><a href="/">Home</a></li>
							<li>Blog Grid</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container py-5"><p class="text-center">Migrate content from temp/blog-grid.html</p></div>
</BaseLayout>
