---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Shop Right - Shay Construction">
	<div class="breadcumb-area d-flex align-items-center"><div class="container"><div class="row"><div class="col-lg-12"><div class="breadcumb-content"><h1>Shop Right</h1><ul><li><a href="/">Home</a></li><li>Shop Right</li></ul></div></div></div></div></div>
	<div class="container py-5"><p class="text-center">Migrate from temp/shop-4.html</p></div>
</BaseLayout>
