---
---
<style>
	.footer-section .widgets-company-info-box,
	.footer-section .widgets-company-info {
		max-width: 400px;
	}
</style>
<div class="footer-section upper">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5 col-md-6">
				<div class="widgets-company-info-box wow fadeInLeft">
					<div class="elaction-logo">
						<a class="logo_thumb" href="/" title="Shay Construction">
							<img src="/assets/images/shay_logo.png" alt="Shay Construction">
						</a>
					</div>
					<div class="company-info-desc">
						<p>SHAY Construction: Premium engineering for a sustainable future.</p>
					</div>
					<div class="footer-icon-list">
						<ul>
							<li><a href="https://www.facebook.com/shayconstructionpvtltd/"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://www.instagram.com/shay_construction1/"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-5 col-md-6">
				<div class="widgets-company-info wow fadeInRight">
					<div class="widgets-company-content">
						<div class="widgets-company-title">
							<h3>Get In Touch</h3>
						</div>
						<div class="widgets-company-icon-list">
							<ul>
								<li><i class="bi bi-telephone"></i> +91 8318666574 | +91 7905249296 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91 8808788886 | +91 7275014659</li>
								<li><i class="bi bi-envelope-open"></i>shayconstructionpvtltd@gmail.com</li>
								<li><i class="bi bi-envelope-open"></i>E-2/110 Sudhant Golf City, <br> Lucknow, Uttar Pradesh, 226030</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mg-tp align-items-center">
			<div class="col-lg-12">
				<div class="copy-rights">
					<h4>© Copyright Shay Construction 2026. All Rights Reserved.</h4>
				</div>
				<div class="footer-shap bounce-animate3">
					<img src="/assets/images/resource/counter-shape.png" alt="">
				</div>
				<div class="footer-shape dance">
					<img src="/assets/images/resource/border.png" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
