---
---
<div id="sticky-header" class="hendre_nav_manu two">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-lg-2">
				<div class="logo">
					<a class="logo_img" href="/" title="Shay Construction">
						<img src="/assets/images/shay_logo.png" alt="logo">
					</a>
					<a class="main_sticky" href="/" title="Shay Construction">
						<img src="/assets/images/shay_logo.png" alt="logo">
					</a>
				</div>
			</div>
			<div class="col-lg-7">
				<nav class="hendre_menu">
					<ul class="nav_scroll">
						<li><a href="/">Home</a>
						</li>
						<li><a href="/about/">About</a>
						</li>
						<li><a href="/service/">Services</a>
						</li>
						<li><a href="/projects/">Projects</a>
						</li>
						<li><a href="/contact/">Contact</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-lg-3">
				<div class="header-src-box">
					<div class="header-button two">
						<a href="/contact/">Get a Quote <i class="bi bi-arrow-right-short"></i></a>
					</div>
					<div class="sidebar-btn style_two">
						<div class="nav-btn navSidebar-button style_two"><span><i class="bi bi-filter-left"></i></span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
